.jumbotron{
    background-image: url("img/jamaican-coffee.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;

}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
#search-bar[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}
#coffee{
    height: 10%;
    width: 30%;
}


